Repository PSDaily/Algorithm-Study, pull requests merged in 2025-10, with the labels that each got.

#131 [0930] 11724번 - 연결 요소의 개수
  src/Baekjoon/codingdodo/dfs/DFS.java
  src/Baekjoon/codingdodo/dfs/Q11724.java
  src/Baekjoon/codingdodo/dfs/dfsPractice.java
Labels: DFS

#132 [1001] 11403번 - 경로 찾기
  src/Baekjoon/codingdodo/dfs/Q11403.java
Labels: DFS, 그래프탐색

#134 [1004] 150368번 - 이모티콘 할인행사
  Java/src/main/java/kakao/PS_150368.java
Labels: 완전탐색

#135 [1005] 150367번 - 표현 가능한 이진트리
  Java/src/main/java/kakao/PS_150365.java
  Java/src/main/java/kakao/PS_150367.java
Labels: 재귀

#136 [1005] 2667번 - 단지번호붙이기
  src/Baekjoon/codingdodo/dfs/Q2667.java
Labels: DFS, 그래프탐색
